@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:wght@300;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,800;1,400;1,1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500&display=swap");

body,
h1,
h2,
h3,
h4,
p {
  font-family: "Inter", sans-serif !important;
  margin: 0;
}

a {
  text-decoration: none !important;
}
.mRight {
  margin-right: 20px;
}

.sideLinks {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.dashboard-icons {
  font-size: 20px;
  color: white;
}

.navIcons {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconStyles {
  font-size: 25px;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}